<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScrollBar and Thread demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17B1AAEC1D744E2800959257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17B1AB051D744E2900959257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17B1AB101D744E2900959257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
